<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <link rel="stylesheet" href="/css/menu.css">
        <script src="/js/menu.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>Table number: <%= table_num %></title>
    </head>
    <body>
        <div id="title-division">
            <img id="dinescan-logo" src="/images/demologo.png">
            <a id="about-link" href="#">About DineScan</a>
        </div>
        <div id="restaurant-name">
            <span style="font-size: 20px; padding-bottom: 10px">Restaurant</span>
            <span style="font-size: 24px;"> <%= restaurant.restaurant_name %> </span>
        </div>
        <div id="content-division">
            <% dishes.forEach(dish => { %>
              <div class="dish-box" onclick="openDishSummary(<%= JSON.stringify(dish) %>)">
                <span class="material-symbols-outlined <%= dish.vegetarian ? 'vegetarian' : 'non-vegetarian' %> dish-veg">
                  fiber_manual_record
                </span>
                <div class="dish-details">
                  <span style="padding-bottom: 5px;"><%= dish.dish_name %></span>
                  <span style="padding-bottom: 15px;">Rs. <%= dish.price %></span>
                </div>
                <div class="dish-image-section">
                  <img class="dish-image" src="/images/uploads/<%= dish.dish_photo %>">
                  <button class="cart-button" onclick="event.stopPropagation();">Add</button>
                </div>
              </div>
            <% }); %>
          </div>
        <div id="overlay">
        </div>
        <div id="restaurant-description">
          <p style="font-size: larger;"><strong><%= restaurant.description %></strong></p>
          <p><strong>Address:</strong> <%= restaurant.address %></p>
          <p><strong>Phone Number:</strong> <%= restaurant.restaurant_phone_num %></p>
          <p><strong>Email:</strong> <%= restaurant.restaurant_email %></p>
        </div>      
    </body>
</html>