<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <link rel="stylesheet" href="/css/dashboard-common.css">
        <link rel="stylesheet" href="/css/data-management.css">
        <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" integrity="sha512-WBRxX+7EojrO5fU6suW5aixtPLcXoB5Aq5bsPbqoYPz+znJVlQk/cZ9U2FJlWwnX5R6Gl9A2uU9eVe2o0pwbLQ==" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js" integrity="sha512-FuXlmfsNb0/6d/R5eNPGqYiVOxW8qxTBE3T+R8M6tAZrT+faa5/8+TGGtznRrhRcBjwQQlNw3RQJbACJCh7C3Q==" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>                
        <script src="/js/dashboard-common.js"></script>
        <script src="/js/data-management.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <% function capitalizeFirstLetter(str) { return str.charAt(0).toUpperCase() + str.slice(1); } %>
        <title><%= capitalizeFirstLetter(role) %> Dashboard</title>
    </head>
    <body>
        <div id="menu-division">
            <img id="logo" src="/images/logo.png">
            <nav id="navigation-menu">
                <ul id="menu-list">
                    <li id="overview" class="menu-item selected"><span class="material-symbols-outlined">grid_view</span><a href="/admin-dashboard/overview"><span style="padding: 8px;">Overview</span></a></li>
                    <li id="access-control" class="menu-item"><span class="material-symbols-outlined">accessibility</span><a href="/admin-dashboard/access-control"><span style="padding: 8px;">Access control</span></a></li>
                    <li id="data-management" class="menu-item" style="opacity: 1;"><span class="material-symbols-outlined">database</span><a href="/admin-dashboard/data-management"><span style="padding: 8px;">Data management</span></a></li>
                    <li id="transactions" class="menu-item"><span class="material-symbols-outlined">receipt_long</span><a href="/admin-dashboard/transactions"><span style="padding: 8px;">Transactions</span></a></li>
                    <li id="orders" class="menu-item"><span class="material-symbols-outlined">orders</span><a href="/admin-dashboard/orders"><span style="padding: 8px;">Orders</span></a></li>
                    <li id="report" class="menu-item"><span class="material-symbols-outlined">lab_profile</span><a href="/admin-dashboard/report"><span style="padding: 8px;">Report</span></a></li>
                </ul>
            </nav>
        </div>
        <div id="content-division">
            <div class="title-division">
                <div id="title">
                    <span style="font-size: 32px; font-weight: 500;">Manage the database</span><br>
                    <span style="font-size: 15px;">Add, remove or update the dishes</span>
                </div>
                <div id="dropdown">
                    <button id="profile" onclick="toggleDropdown()">
                        <img id="profile-pic" src="/images/default.jpg">
                        <span id="profile-name"><%= username %></span>
                        <span class="material-symbols-outlined" style="color:black;">arrow_drop_down</span>
                    </button>
                    <div id="dropdown-content">
                        <a href="/logout"><div class="dropdown-item-text"><span class="material-symbols-outlined" style="color:black; padding-right: 10px;">logout</span>Logout</div></a>
                    </div>
                </div>
            </div>
            <div id="main-division">
                <button class="table-buttons" onclick="openAddForm()">Add dish</button>
                <table id="dish-table">
                    <thead>
                        <tr>
                            <td colspan="6" style=" border-top: 1px solid #172233;"></td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Dish Name</th>
                            <th>Price</th>
                            <th>Veg/Non-Veg</th>
                            <th>Available</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td colspan="6" style=" border-bottom: 1px solid #172233;"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <% let counter = 1; dishes.forEach(dish => { %>
                            <tr id="dishRow_<%= dish.dish_id %>">
                                <td style="font-size: 18px;"> <%= counter++ %></td>
                                <td style="font-size: 18px;"> <%= dish.dish_name %></td>
                                <td>Rs. <%= dish.price %></td>
                                <td><%= dish.vegetarian ? 'Veg' : 'Non-Veg' %></td>
                                <td><%= dish.available %></td>
                                <td>
                                    <button class="table-buttons" onclick="openUpdateForm('<%= dish.dish_id %>','<%= dish.dish_name %>','<%= dish.price %>','<%= dish.vegetarian %>','<%= dish.available %>','<%= dish.dish_description %>','<%= dish.dish_photo %>','<%= dish.calories %>','<%= dish.protein %>','<%= dish.fat %>','<%= dish.carb %>')">Update</button>
                                    <span style="padding: 5px;"></span>
                                    <button class="table-buttons" onclick="confirmRemove('<%= dish.dish_name %>','<%= dish.dish_id %>','<%= role %>')">Remove</button>
                                </td>
                            </tr>
                            <tr id="divider_<%= dish.dish_id %>">
                                <td class="table-divider" colspan="6"></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="update-form">
            <div class="form-content">
                <span class="close" onclick="closeUpdateForm()">&times;</span>
                <span id="update-form-header" style="font-size: 26px;"></span>
                <form id="updateDishForm" method="post">
                    <label for="dishName">Dish Name :</label>
                    <input type="text" id="update-dishName" name="dishName" required>
              
                    <label for="price">Price :</label>
                    <input type="text" id="update-price" name="price" required>
              
                    <label for="vegetarian">Vegetarian (true/false) :</label>
                    <input type="text" id="update-vegetarian" name="vegetarian" required>
              
                    <label for="available">Available :</label>
                    <input type="text" id="update-available" name="available" required>
                    
                    <label for="dishDescription">Description:</label>
                    <textarea id="update-dishDescription" name="dishDescription" rows="4"></textarea>
                                        
                    <label for="dishPhoto">Photo:</label>
                    <div id="update-dropzone" class="dropzone" name="image">                    
                    </div>
                    <input type="hidden" id="update-dishPhoto" name="dishPhoto">
                    
                    <label for="calories">Calories:</label>
                    <input type="text" id="update-calories" name="calories">
                    
                    <label for="protein">Protein:</label>
                    <input type="text" id="update-protein" name="protein">
                    
                    <label for="fat">Fat:</label>
                    <input type="text" id="update-fat" name="fat">
                    
                    <label for="carb">Carbohydrates:</label>
                    <input type="text" id="update-carb" name="carb">            

                    <button type="submit">Update</button>
                </form>
            </div>
        </div>
        <div id="add-form">
            <div class="form-content">
                <span class="close" onclick="closeAddForm()">&times;</span>
                <span id="add-form-header" style="font-size: 26px;"></span>
                <form id="addDishForm" method="post">
                    <label for="dishName">Dish Name :</label>
                    <input type="text" id="add-dishName" name="dishName" required>
              
                    <label for="price">Price :</label>
                    <input type="text" id="add-price" name="price" required>
              
                    <label for="vegetarian">Vegetarian (true/false) :</label>
                    <input type="text" id="add-vegetarian" name="vegetarian" required>
              
                    <label for="available">Available :</label>
                    <input type="text" id="add-available" name="available" required>

                    <label for="dishDescription">Description:</label>
                    <textarea id="add-dishDescription" name="dishDescription" rows="4"></textarea>
                    
                    <label for="dishPhoto">Photo:</label>
                    <div id="add-dropzone" class="dropzone">
                    </div>
                    <input type="hidden" id="add-dishPhoto" name="dishPhoto">
                    
                    <label for="calories">Calories:</label>
                    <input type="text" id="add-calories" name="calories">
                    
                    <label for="protein">Protein:</label>
                    <input type="text" id="add-protein" name="protein">
                    
                    <label for="fat">Fat:</label>
                    <input type="text" id="add-fat" name="fat">
                    
                    <label for="carb">Carbohydrates:</label>
                    <input type="text" id="add-carb" name="carb">

                    <label for="categories">Categories:</label>
                    <div id="category-checklist">
                        <% categories.forEach(category => { %>
                            <label style="display: inline-block; margin-right: 10px">
                                <input type="checkbox" name="categories" value="<%= category %>">
                                <%= category %>
                            </label>
                            <% }); %>
                    </div>

                    <button type="submit">Add</button>
                </form>
            </div>
        </div>
    </body>
</html>