<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <link rel="stylesheet" href="/css/dashboard-common.css">
        <link rel="stylesheet" href="/css/orders.css">
        <script src="/js/dashboard-common.js"></script>
        <script src="/js/orders.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <% function capitalizeFirstLetter(str) { return str.charAt(0).toUpperCase() + str.slice(1); } %>
        <title><%= capitalizeFirstLetter(role) %> Dashboard</title>
    </head>
    <body>
        <div id="menu-division">
            <img id="logo" src="/images/demologo.png">
            <nav id="navigation-menu">
                <ul id="menu-list">
                    <li id="overview" class="menu-item selected"><span class="material-symbols-outlined">grid_view</span><a href="/admin-dashboard/overview"><span style="padding: 8px;">Overview</span></a></li>
                    <li id="access-control" class="menu-item"><span class="material-symbols-outlined">accessibility</span><a href="/admin-dashboard/access-control"><span style="padding: 8px;">Access control</span></a></li>
                    <li id="data-management" class="menu-item"><span class="material-symbols-outlined">database</span><a href="/admin-dashboard/data-management"><span style="padding: 8px;">Data management</span></a></li>
                    <li id="transactions" class="menu-item"><span class="material-symbols-outlined">receipt_long</span><a href="/admin-dashboard/transactions"><span style="padding: 8px;">Transactions</span></a></li>
                    <li id="orders" class="menu-item" style="opacity: 1;"><span class="material-symbols-outlined">orders</span><a href="/admin-dashboard/orders"><span style="padding: 8px;">Orders</span></a></li>
                    <li id="report" class="menu-item"><span class="material-symbols-outlined">lab_profile</span><a href="/admin-dashboard/report"><span style="padding: 8px;">Report</span></a></li>
                    <span class="divider"></span>
                    <li id="settings" class="menu-item"><span class="material-symbols-outlined">Settings</span><a href="/admin-dashboard/settings"><span style="padding: 8px;">Settings</span></a></li>
                </ul>
            </nav>
        </div>
        <div id="content-division">
            <div class="title-division">
                <div id="title">
                    <span style="font-size: 32px; font-weight: 500;">Order history</span><br>
                    <span style="font-size: 15px;">View order history and real-time status</span>
                </div>
                <div id="dropdown">
                    <button id="profile" onclick="toggleDropdown()">
                        <img id="profile-pic" src="/images/default.jpg">
                        <span id="profile-name"><%= username %></span>
                        <span class="material-symbols-outlined" style="color:black;">arrow_drop_down</span>
                    </button>
                    <div id="dropdown-content">
                        <a href="#"><div class="dropdown-item-text"><span class="material-symbols-outlined" style="color:black; padding-right: 10px;">person</span>Profile</div></a>
                        <a href="/logout"><div class="dropdown-item-text"><span class="material-symbols-outlined" style="color:black; padding-right: 10px;">logout</span>Logout</div></a>
                    </div>
                </div>
            </div>
            <div id="main-division">
                <table id="transactions-table">
                    <thead>
                        <tr>
                            <td colspan="6" style=" border-top: 1px solid #172233;"></td>
                        </tr>
                        <tr>
                            <th>Order Id</th>
                            <th>Table no</th>
                            <th>Order time</th>
                            <th>Order details</th>
                            <th>Order status</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td colspan="6" style=" border-bottom: 1px solid #172233;"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach(order => { %>
                          <tr>
                            <td>#<%= order.order_id %></td>
                            <td><%= order.table_num %></td>
                            <td><%= order.order_date %></td>
                            <td><%= order.ordered_dishes  %></td>  <!-- .replace(/,/g, '<br>') -->
                            <td><%= order.order_status %></td>
                            <td><button class="order-buttons" onclick="openUpdateForm('<%= order.order_id %>', '<%= order.table_num %>', '<%= order.order_status %>')">Update<br> status</button></td>
                          </tr>
                          <tr>
                            <td class="table-divider" colspan="6"></td>
                        </tr>
                        <% }); %>
                      </tbody>
                </table>
            </div>
            <div id="pagination">
                <a href="<%= currentPage > 1 ? '/admin-dashboard/orders/' + (currentPage - 1) : '#' %>">&laquo;</a>
                
                <% const startPage = Math.max(1, currentPage - 5); %>
                <% const endPage = Math.min(totalPages, startPage + 9); %>
                
                <% for (let i = startPage; i <= endPage; i++) { %>
                  <a href="/admin-dashboard/orders/<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
                <% } %>
                
                <a href="<%= currentPage < totalPages ? '/admin-dashboard/orders/' + (currentPage + 1) : '#' %>">&raquo;</a>
              </div>
        </div>
        <div id="update-form">
            <div class="form-content">
                <span class="close" onclick="closeUpdateForm()">&times;</span>
                <span id="update-form-header" style="font-size: 26px;"></span>
                <form id="updateStatusForm" method="post">
        
                    <label for="orderStatus">Order Status :</label>
                    <select id="update-orderStatus" name="orderStatus" required>
                        <option value="Preparing"><span>Preparing</span></option>
                        <option value="Completed"><span>Completed</span></option>
                    </select>
        
                    <button type="submit">Update</button>
                </form>
            </div>
        </div>        
    </body>
</html>